/* Variable Definitions */
:root {
	--navbar-bg: #333;
	--body-bg: #7c828c;
	--main-bg: #515761;

	--highlight: #42b6f4;
	--accept: #4CAF50;
	--deny: #d9534f;
}

body {
	background-color: var(--body-bg);
}

#main {
	background-color: var(--main-bg);
	opacity: 0.9;

	padding: 1% 5% 3%;

	color: white;

	height: auto;
	overflow: auto;
}

#main h1 {
	font-size: 2.5vw;
}

#main input {
	font-size: 1.5vw;	
}

#main label {
	font-size: 1.5vw;
}

#main button {
	color: white;
	background-color: var(--navbar-bg);
	font-size: 1em;
	cursor: pointer;
	border: solid 0.15em black;
	font-size: 1vw;
	padding: 1%;

	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#main button:hover {
	background-color: var(--highlight);
	transition-duration: 0.4s;
}

/* Screen Size */
/* Mobile */
@media screen and (max-width: 600px) {
	html, body {
		margin: 0;
		padding: 0;
	}
	#main {
		border: none;
		margin-top: 0;
		height: 100%;
	}
}
/* Desktop */
@media screen and (min-width: 600px) {
	body {
		margin: 2%;
	}
	#main {
		margin-top: 1%;
		border-style: solid;
		border-color: var(--navbar-bg);
	}
}
