html
	body
		h1 Index of #{url}
		
		table
			tbody
				tr
					th
						p Name
					th
						p Type
			each item in files
				tr
					td
						a(href=url + item.name) #{item.name}
						
					td
						p #{item.type}
